<footer class="page-footer font-small bg-secondary pt-4">
<div class="container">
    <div class="row">
        <div class="col-nd-12 d-flex justify-content-center">
            <h4 class="text-white">Siga-nos nas redes sociais</h4>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 d-flex-content-center">
<ul class="social-network">
    <li>
        <a href="https://www.facebook.com/profile.php?id=100025590586782"
         target="_blank" class="icoFacebook">
         <i class="fab fa-facebook"  aria-hidden= "true"></i>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/yasmimgerotto/?hl=pt-br"
         target="_blank" class="icoInstagram">
         <i class="fab fa-instagram"  aria-hidden="true"></i>
        </a>
    </li>

    <li>
        <a href="https://www.linkedin.com/in/yasmim-gerotto-38b412219/"
         target="_blank" class="icoLinkedin">
         <i class="fab fa-linkedin-in" aria-hidden="true"></i>
        </a>
    </li>






</ul>




    </div>
</div>




</footer>